:root {
  --c8-gray: #4b4b4b;
  --c8-gray-muted: #b8b8b8;
}

html * {
  font-family: Lucida Console, Monaco, Courier, monospace;
  font-size: 13px;
  color: var(--c8-gray);
}

#container {
  margin: auto;
  width: 650px;
}

#head {
  display: flex;
  align-items: baseline;
}

#title {
  flex-grow: 1;
  font-size: 20;
  padding-top: 10px;
}

#help {
  display: none;
  list-style-type: none;
}

#help li {
  margin-bottom: 10px;
}

#keys-c8 {
  white-space: pre;
}

#chip8-display {
  border: 5px solid var(--c8-gray);
  margin: 10px 0px;
}

#controls {
  display: flex;
  align-items: baseline;
}

#controls div {
  margin: 0px 10px;
}

#debug-container {
  display: none;
}

#pseudo-registers {
  margin-bottom: 10px;
}

#pseudo-registers tbody td {
  width: 25px;
}

#registers td {
  width: 25px;
}

.debug-info-parent {
  display: flex;
}

.debug-info-child {
  padding: 5px;
  border: 3px solid var(--c8-gray);
  margin: 3px;
}

.debug-title {
  margin-top: 2px;
  margin-bottom: 5px;
}

#debug-registers {
  flex: 20%;
}

#debug-stack {
  flex: 10%;
}

#debug-instructions {
  flex: 70%;
}

#debug-instructions-container {
  overflow: auto;
  height: 270px;
}

#debug-instructions-list {
  list-style-type: none;
  padding-left: 0px;
}

#debug-instructions-list li {
  white-space: pre;
}

li.active-inst {
  border: 2px solid green;
}

td.stack-inactive {
  color: var(--c8-gray-muted);
}

#debug-key-waiting {
  display: none;
}

.row {
  margin: 5px 0px;
}
